<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_HOME" value="${LOG_HOME:-logs}"/>
    <property name="PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level [%X{traceId}] %logger{36} - %msg%n"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder><pattern>${PATTERN}</pattern></encoder>
    </appender>

    <!-- Reusable rolling policy examples omitted for brevity -->
    <!-- Application -->
    <appender name="APP_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/taskflow/taskflow.log</file>
        <encoder><pattern>${PATTERN}</pattern></encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/taskflow/taskflow.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxFileSize>50MB</maxFileSize><maxHistory>7</maxHistory><totalSizeCap>400MB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="ERROR_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/error/error.log</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter"><level>ERROR</level></filter>
        <encoder><pattern>${PATTERN}</pattern></encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/error/error.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxFileSize>10MB</maxFileSize><maxHistory>7</maxHistory><totalSizeCap>100MB</totalSizeCap>
        </rollingPolicy>
    </appender>


    <appender name="KAFKA_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <file>${LOG_HOME}/kafka/kafka.log</file>
      <encoder><pattern>${PATTERN}</pattern></encoder>
      <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
        <fileNamePattern>${LOG_HOME}/kafka/kafka.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
        <maxFileSize>50MB</maxFileSize><maxHistory>7</maxHistory><totalSizeCap>200MB</totalSizeCap>
      </rollingPolicy>
    </appender>

    <appender name="HIBERNATE_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <file>${LOG_HOME}/hibernate/hibernate.log</file>
      <encoder><pattern>${PATTERN}</pattern></encoder>
      <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
        <fileNamePattern>${LOG_HOME}/hibernate/hibernate.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
        <maxFileSize>25MB</maxFileSize><maxHistory>7</maxHistory><totalSizeCap>150MB</totalSizeCap>
      </rollingPolicy>
    </appender>

    <appender name="REDIS_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <file>${LOG_HOME}/redis/redis.log</file>
      <encoder><pattern>${PATTERN}</pattern></encoder>
      <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
        <fileNamePattern>${LOG_HOME}/redis/redis.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
        <maxFileSize>10MB</maxFileSize><maxHistory>7</maxHistory><totalSizeCap>50MB</totalSizeCap>
      </rollingPolicy>
    </appender>

    <appender name="ELASTIC_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <file>${LOG_HOME}/elasticsearch/elasticsearch.log</file>
      <encoder><pattern>${PATTERN}</pattern></encoder>
      <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
        <fileNamePattern>${LOG_HOME}/elasticsearch/elasticsearch.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
        <maxFileSize>10MB</maxFileSize><maxHistory>7</maxHistory><totalSizeCap>50MB</totalSizeCap>
      </rollingPolicy>
    </appender>

    <appender name="SECURITY_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <file>${LOG_HOME}/security/security.log</file>
      <encoder><pattern>${PATTERN}</pattern></encoder>
      <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
        <fileNamePattern>${LOG_HOME}/security/security.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
        <maxFileSize>10MB</maxFileSize><maxHistory>7</maxHistory><totalSizeCap>50MB</totalSizeCap>
      </rollingPolicy>
    </appender>

    <logger name="com.taskflow" level="DEBUG" additivity="false">
      <appender-ref ref="CONSOLE"/>
      <appender-ref ref="APP_FILE"/>
    </logger>

    <logger name="org.springframework.kafka" level="INFO" additivity="false"><appender-ref ref="KAFKA_FILE"/></logger>
    <logger name="org.apache.kafka" level="INFO" additivity="false"><appender-ref ref="KAFKA_FILE"/></logger>
    <logger name="org.hibernate.SQL" level="DEBUG" additivity="false"><appender-ref ref="HIBERNATE_FILE"/></logger>
    <logger name="org.hibernate.orm.jdbc.bind" level="TRACE" additivity="false"><appender-ref ref="HIBERNATE_FILE"/></logger>
    <logger name="org.springframework.security" level="INFO" additivity="false"><appender-ref ref="SECURITY_FILE"/></logger>
    <logger name="org.springframework.data.redis" level="INFO" additivity="false"><appender-ref ref="REDIS_FILE"/></logger>
    <!--<logger name="io.lettuce.core" level="INFO" additivity="false"><appender-ref ref="REDIS_FILE"/></logger>-->
    <logger name="org.springframework.data.elasticsearch" level="INFO" additivity="false"><appender-ref ref="ELASTIC_FILE"/></logger>
    <logger name="org.elasticsearch.client" level="INFO" additivity="false"><appender-ref ref="ELASTIC_FILE"/></logger>
    <!--<logger name="co.elastic.clients" level="INFO" additivity="false"><appender-ref ref="ELASTIC_FILE"/></logger>-->

    <root level="INFO">
      <appender-ref ref="CONSOLE"/>
      <appender-ref ref="ERROR_FILE"/>
    </root>
</configuration>
